<html>
	<head>
		<script src="https://cdn.jsdelivr.net/combine/npm/tone@14.7.58,npm/@magenta/music@1.22.1/es6/core.js,npm/focus-visible@5,npm/html-midi-player@1.4.0"></script>
	</head>
	<body>
		<p>Progression of Mutated Melodies:</p>

		<!-- {% for progression_file in progression_files %}
			<p>{{ progression_file }}</p>
		{% endfor %} -->

		{% for progression_file in progression_files %}
			<fieldset>

			    <legend>{{ progression_file }}</legend>
			     
			    <midi-player src="{{ progression_file }}" sound-font visualizer="#{{ progression_file }}PianoRollVisualizer"></midi-player>

				<midi-visualizer type="piano-roll" id="#{{ progression_file }}PianoRollVisualizer" src="{{ progression_file }}"></midi-visualizer>

			</fieldset>
		{% endfor %}
	</body>
</html>