<html>
	<head>
		<script src="https://cdn.jsdelivr.net/combine/npm/tone@14.7.58,npm/@magenta/music@1.22.1/es6/core.js,npm/focus-visible@5,npm/html-midi-player@1.4.0"></script>
	</head>
	<body>
		<p>
			Original Seed file<br />
			{{ seed_file_with_relative_path }}
		</p>

		<midi-player src="{{ seed_file_with_relative_path }}" sound-font visualizer="#seedFilePianoRollVisualizer"></midi-player>

		<midi-visualizer type="piano-roll" id="seedFilePianoRollVisualizer" src="{{ seed_file_with_relative_path }}"></midi-visualizer>

		<hr />

		{% for mutated_file in created_files %}
			<fieldset>

			    <legend>({{ loop.index }}){{ mutated_file }}</legend>
			     
			    <midi-player src="{{ mutated_file }}" sound-font visualizer="#{{ mutated_file }}PianoRollVisualizer"></midi-player>

				<midi-visualizer type="piano-roll" id="#{{ mutated_file }}PianoRollVisualizer" src="{{ mutated_file }}"></midi-visualizer>

				<form action="/select" method="post">
					<input name="relative_file_path" type="hidden" value="{{ mutated_file }}" />
					<button type="submit" name="selection_type" value="regenerate">Select and Regenerate</button>
					<button type="submit" name="selection_type" value="quit">Select and Quit</button>
				</form>
			</fieldset>
		{% endfor %}

		<hr />

		<p><a href="/review?seed_file={{ seed_file_no_path }}">Reject All and Regenerate</a></p>
	</body>
</html>